/*!***************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./styles.css ***!
  \***************************************************************/
.sticker {
	box-sizing: border-box;
	position: absolute;
	padding: 10px;
	font: italic 15px Arial;
}
